<div fxLayout="row" >
    <div fxFlexOffset="5" fxFlex="90">
        <mat-form-field class="example-form-field" appearance="fill" color="warn">
            <mat-label>Buscar articulo</mat-label>
            <input matInput type="text" [(ngModel)]="textoBusqueda">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
</div>

<div fxLayout="row" >
    <div fxFlexOffset="5" fxFlex="90">
        <mat-paginator [length]="listaArticulos.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]" color="warn" (page)="cambiarPagina($event)">
        </mat-paginator>
    </div>
</div>

<div fxHide.sm fxHide.xs fxShow.md fxShow.lg fxShow.xl fxLayout="row wrap" fxFill>
    <div fxFlex="0 0 25" *ngFor="let articulo of listaArticulosPaginado" style="margin-top: 15px;">
        <div fxLayout="row" fxFill>
            <div fxFlexOffset="15" fxFlex="70">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{articulo.articulo}}</mat-card-title>
                        <mat-card-subtitle *ngIf="subdistribuidor.esAdmin">${{articulo.precioLista}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/img/piso-vitromex-napa-04352041320.jpg">
                    <mat-card-content>
                        {{articulo.descripcion1}}
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Carrito</button>
                        <button mat-button (click)="verDetalleArticulo(articulo.articulo)">Ver</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<div fxShow.xs fxShow.sm fxHide.md fxHide.lg fxHide.xl fxLayout="row wrap" fxFill>
    <div fxFlex="0 0 100" *ngFor="let articulo of listaArticulosPaginado" style="margin-top: 15px;">
        <div fxLayout="row" fxFill>
            <div fxFlexOffset="15" fxFlex="70">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{articulo.articulo}}</mat-card-title>
                        <mat-card-subtitle *ngIf="subdistribuidor.esAdmin">${{articulo.precioLista}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/img/piso-vitromex-napa-04352041320.jpg">
                    <mat-card-content>
                        {{articulo.descripcion1}}
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Carrito</button>
                        <button (click)="verDetalleArticulo(articulo.articulo)" mat-button>Ver</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>