.centerTable {
    margin-left: 10%;
    margin-right: 10%;
}

.mat-icon:hover {
    cursor: pointer;
}

.mat-row:hover {
    background-color: yellow;
}

.mat-form-field {
    width: 100%;
}

table {
    width: 100%;
}

img:hover {
    cursor: pointer;
}

mat-card:hover {
    border: 1px solid red;
}