<nz-page-header nzTitle="Orden de Compra"  nzBackIcon>
    <nz-page-header-tags>
        <nz-tag nzColor="processing">{{solicitudService.solicitudOC.encabezado.estatus}}</nz-tag>
    </nz-page-header-tags>
    <nz-page-header-extra>
        <nz-select nzPlaceHolder="Almacen" [(ngModel)]="almacenSolicitud" (ngModelChange)="seleccionarAlmacen($event)">
            <nz-option nzValue="1" nzLabel="CDG-100"></nz-option>
        </nz-select>
    </nz-page-header-extra>
</nz-page-header>

<div fxLayout="row">
    <div fxFlexOffset="10" fxFlex="80">
        <nz-result nzStatus="warning" nzTitle="Aun no has agregado articulos a la solicitud" *ngIf="solicitudService.solicitudOC.detalle.length === 0; else ContenidoCarrito">
            <div nz-result-extra>
                <button nz-button nzType="primary" routerLink="..">Regresar</button>
            </div>
        </nz-result>
        <ng-template #ContenidoCarrito>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Articulo</th>
                            <th>Descripcion</th>
                            <th class="centrarTexto" *ngIf="usuario.esAdmin">Precio</th>
                            <th class="centrarTexto">Cantidad</th>
                            <th class="centrarTexto">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let articulo of solicitudService.solicitudOC.detalle">
                            <td>{{articulo.articulo}}</td>
                            <td>{{articulo.descripcion}}</td>
                            <td *ngIf="usuario.esAdmin" class="centrarTexto">{{articulo.precio | currency}}</td>
                            <td class="centrarTexto"><input style="width: 50px;" type="number" [(ngModel)]="articulo.cantidad" (change)="solicitudService.calcularImporte()"></td>
                            <td class="centrarTexto">
                                <mat-icon matTooltip="Quitar" (click)="solicitudService.quitarDetalleSolicitud(articulo)">delete</mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </div>
</div>

<ng-container *ngIf="solicitudService.solicitudOC.detalle.length > 0 && usuario.esAdmin">
    <div fxLayout="row">
        <div fxFlexOffset.xs="10" fxFlex.xs="80" fxFlexOffset.sm="10" fxFlex.sm="80"  fxFlexOffset.lg="60" fxFlex.lg="30" fxFlexOffset.xl="60" fxFlex.xl="30" class="totalEncabezado">
            <span>Total del carrito</span>
        </div>
    </div>
    
    <div fxLayout="row">
        <div fxFlexOffset.xs="10" fxFlex.xs="80" fxFlexOffset.sm="10" fxFlex.sm="80"  fxFlexOffset.lg="60" fxFlex.lg="30" fxFlexOffset.xl="60" fxFlex.xl="30">
            <div fxLayout="row" fxFill class="concepto">
                <div fxFlex="50">
                    <div fxLayout="row" fxFill>
                        <div fxFlexOffset="10" fxFlex="30">
                            <span>Importe</span>        
                        </div>
                    </div>
                </div>
                <div fxFlex="50">
                    <div fxLayout="row" fxFill>
                        <div fxFlex="80" class="monto">
                            <span>{{solicitudService.solicitudOC.encabezado.importe | currency}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div fxLayout="row">
        <div fxFlexOffset.xs="10" fxFlex.xs="80" fxFlexOffset.sm="10" fxFlex.sm="80"  fxFlexOffset.lg="60" fxFlex.lg="30" fxFlexOffset.xl="60" fxFlex.xl="30">
            <div fxLayout="row" fxFill class="concepto">
                <div fxFlex="50">
                    <div fxLayout="row" fxFill>
                        <div fxFlexOffset="10" fxFlex="30">
                            <span>Impuestos</span>      
                        </div>
                    </div>
                </div>
                <div fxFlex="50">
                    <div fxLayout="row" fxFill>
                        <div fxFlex="80" class="monto">
                            <span>{{ solicitudService.solicitudOC.encabezado.impuestos | currency}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div fxLayout="row">
        <div fxFlexOffset.xs="10" fxFlex.xs="80" fxFlexOffset.sm="10" fxFlex.sm="80"  fxFlexOffset.lg="60" fxFlex.lg="30" fxFlexOffset.xl="60" fxFlex.xl="30">
            <div fxLayout="row" fxFill class="concepto">
                <div fxFlexOffset="5" fxFlex="85" class="separador"></div>
            </div>
        </div>
    </div>
    
    <div fxLayout="row">
        <div fxFlexOffset.xs="10" fxFlex.xs="80" fxFlexOffset.sm="10" fxFlex.sm="80"  fxFlexOffset.lg="60" fxFlex.lg="30" fxFlexOffset.xl="60" fxFlex.xl="30">
            <div fxLayout="row" fxFill class="totalSolicitud">
                <div fxFlex="50">
                    <div fxLayout="row" fxFill>
                        <div fxFlexOffset="10" fxFlex="30">
                            <span>Total</span>      
                        </div>
                    </div>
                </div>
                <div fxFlex="50">
                    <div fxLayout="row" fxFill>
                        <div fxFlex="80" class="monto">
                            <span>{{ solicitudService.solicitudOC.encabezado.importe + solicitudService.solicitudOC.encabezado.impuestos | currency}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>