.logo {
    height: 50px;
    width: 200px;
    cursor: pointer;
}

.mat-toolbar {
    background-color: lightgrey;
    color: #000;
}

.backDropModal {
    background-color: transparent;
}

.modal-title {
    font-size: medium;
}

.footer-home {
    background-color: whitesmoke;
}

.footer-home span {
    font-size: 10pt;
    font-weight: bolder;
}

.footer-home mat-toolbar {
    height: 100%;
}