.logo {
    height: 50px;
    width: 200px;
    cursor: pointer;
}

.mat-toolbar {
    background-color: lightgrey;
    color: #000;
}

.backDropModal {
    background-color: transparent;
}

.modal-title {
    font-size: medium;
}