<mat-toolbar color="warn">
    <!-- <span class="espaciador"></span> -->
    <button (click)="verArticulos = true; verCarrito = false" mat-icon-button aria-label="Boton usuario" [matMenuTriggerFor]="menuUsuario">
        <mat-icon>account_circle</mat-icon> {{UsuarioObj.correo}}
    </button>
    <mat-menu #menuUsuario>
        <menu mat-menu-item (click)="cerrarSesion()">Cerrar sesión</menu>
    </mat-menu>
    <a href="#" (click)="verArticulos = true; verCarrito = false">Articulos</a>
    <button mat-icon-button aria-label="Boton carrito de compra" (click)="verCarrito = true; verArticulos = false">
        <mat-icon [matBadge]="numeroArticulos" matBadgeSize="small" matBadgeColor="accent" matTooltip="Ver carrito">shopping_cart</mat-icon>
    </button>
</mat-toolbar>
<app-articulos *ngIf=verArticulos (agregar)="agregarArticuloCarrito($event)"></app-articulos>
<app-carrito *ngIf=verCarrito (quitar)="quitarArticuloCarrito($event)" [carrito]=carritoArticulos></app-carrito>


<!-- <input type="number" [(ngModel)]="numeroArticulos"> -->