<mat-card>
    <mat-card-header>
        <img mat-card-image src="assets/img/Logotipo_C.png" alt="logo vitrohogar">
    </mat-card-header>
    <mat-card-content>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-form-field appearance="fill" class="linearlayout">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="example@gmail.com" [formControl]="usuario" required>
            <mat-error *ngIf="usuario.invalid">{{getEmailError()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="linearlayout">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="contrasena" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="contrasena.invalid">Ingrese la contraseña</mat-error>
        </mat-form-field>
        <button [disabled]="usuario.invalid || contrasena.invalid" mat-raised-button color="warn" (click)="login()" >Entrar</button>
    </mat-card-content>
        
    
</mat-card>