.img-articulo img {
    width: 100%;
    height: auto;
}

.descripcion {
    background-color: yellow;
}

.disponibles {
    height: auto;
    overflow-y: auto;
}

.disponibles thead th {
    background-color: aquamarine;
    position: sticky;
    top: 0;
}

.disponibles tbody td {
    text-align: center;
}