<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxFill>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
        <div fxLayout="row" fxFill>
            <div fxFlexOffset.xs="30" fxFlex.xs="40" fxFlexOffset.sm="30" fxFlex.sm="40" fxFlexOffset.md="20" fxFlex.md="60" fxFlexOffset.lg="20" fxFlex.lg="60" fxFlexOffset.xl="20" fxFlex.xl="60">
                <div fxShow.xs fxShow.sm fxHide.md fxHide.lg fxHide.xl fxLayout.xs="row" fxLayout.sm="row" fxFill class="img-articulo">
                    <img src="assets/img/piso-vitromex-napa-04352041320.jpg" alt="">
                </div>
                <div fxHide.xs fxHide.sm fxShow.md fxShow.lg fxShow.xl fxLayout.md="column" fxLayout.lg="column" fxLayout.xl="column" fxFill>
                    <div fxFlexOffset.md="20" fxFlex.md="60" fxFlexOffset.lg="20" fxFlex.lg="60" fxFlexOffset.xl="20" fxFlex.xl="60" class="img-articulo">
                        <img src="assets/img/piso-vitromex-napa-04352041320.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30" class="descripcion">
        <div fxLayout="column" fxFill>
            <div fxFlex="33.333333">
                <p>{{idArticulo}}</p>
            </div>
            <div fxFlex="33.333333">
                <p>Prueba_2</p>
            </div>
            <div fxFlex="33.333333">
                <p>Prueba_3</p>
            </div>
        </div>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30" class="disponibles">
        <div fxLayout="row" fxFill>
            <div fxFlexOffset="25" fxFlex="50">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Almacen</th>
                            <th>Disponible</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CDG-500</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>CDG-500</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>CDG-500</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>CDG-500</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>CDG-500</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>CDG-500</td>
                            <td>20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>